@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
  * {
    border-color: hsl(var(--border));
  }
  body {
    @apply bg-background text-foreground;
  }

}
@layer utilities {
  .input-class {
    font-size: 16px;
    --tw-placeholder-opacity: 1;
    --tw-placeholder-color: #A0AEC0;
    border-radius: 0.5rem;
    border: 1px solid #666769;
    color: #1A202C;
    ::placeholder {
      color: #A0AEC0;
    }
  }
}